examples/some_ert_setup

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/*.rst
!docs/index.rst

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*pickled*

# Spyder project settings
.spyderproject
.spyproject

# PyCharm project files
.idea/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Simulation results
examples/**/*.CFG
examples/**/*.DATA
examples/**/*.dbprtx
examples/**/*.DBG
examples/**/*.ECLEND
examples/**/*.EGRID
examples/**/*.ERR
examples/**/*.grdecl
examples/**/*.GRID
examples/**/*.inc
examples/**/*.INIT
examples/**/*.INSPEC
examples/**/*.job.done
examples/**/*.MSG
examples/**/*.PRT
examples/**/*.RSSPEC
examples/**/*.SMSPEC
examples/**/*.UNRST
examples/**/*.UNSMRY
examples/**/.nfs*

# Test data
tests/data/norne/
