alabaster==0.7.12
ansicolors==1.1.8
appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
black==19.10b0
bleach==3.1.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.4.1
configsuite==0.6.3
console-progressbar==1.1.2
cryptography==2.8
cwrap==1.6.1
cycler==0.10.0
dash==1.7.0
dash-core-components==1.6.0
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
decorator==4.4.2
docutils==0.16
ecl2df==0.5.1
Ensemble-Reservoir-Tool==2.7.0
Flask==1.1.1
Flask-Caching==1.8.0
Flask-Compress==1.4.0
flask-talisman==0.7.0
-e git+git@github.com:wouterjdb/flownet.git@8922a48109318856b4b5462fa3fe994a94c5d41f#egg=flownet
fmu-ensemble==1.2.5
future==0.18.2
futures==3.1.1
hyperopt==0.2.4
idna==2.9
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.15.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lightgbm==2.3.1
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
meshio==4.0.10
more-itertools==8.2.0
mypy==0.770
mypy-extensions==0.4.3
networkx==2.4
numpy==1.19.0
opm==2020.10.1
packaging==20.3
pandas==1.0.5
pathspec==0.7.0
Pillow==6.2.2
pkg-resources==0.0.0
plotly==4.5.4
pluggy==0.13.1
psutil==5.7.0
py==1.8.1
pyarrow==0.16.0
pycparser==2.20
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
PyQt5==5.14.0
PyQt5-sip==12.7.1
pyscal==0.5.1
pytest==5.4.1
python-dateutil==2.8.1
pytz==2020.1
pyvista==0.24.0
PyYAML==5.3.1
QtPy==1.9.0
regex==2020.2.20
requests==2.23.0
retrying==1.3.3
scikit-learn==0.23.1
scipy==1.4.1
scooby==0.5.2
segyio==1.9.1
Shapely==1.7.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+git@github.com:wouterjdb/subscript.git@b5201fed83c32c490939580c326d2b00bc4eb997#egg=subscript
threadpoolctl==2.1.0
toml==0.10.0
tqdm==4.43.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
vtk==8.1.2
wcwidth==0.1.8
webencodings==0.5.1
webviz==0.0.1
webviz-config==0.0.58
webviz-config-equinor==0.0.10
webviz-core-components==0.0.20
webviz-subsurface==0.0.35
webviz-subsurface-components==0.0.25
Werkzeug==1.0.0
wrapt==1.11.2
xlrd==1.2.0
xtgeo==2.9.0
zipp==3.1.0
