{% include "./common_config.ert.jinja2" %}

INSTALL_JOB DELETE_IN_CURRENT_ITERATION ./DELETE_IN_CURRENT_ITERATION

REFCASE <CONFIG_PATH>/SYNTHETIC_REFCASE
DEFINE <RUN_PATH> {{ ert_config.runpath }}
DEFINE <RANDOM_SAMPLES> ./parameters.json

LOAD_WORKFLOW_JOB ./SAVE_ITERATION_PARAMETERS_WORKFLOW_JOB
LOAD_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW
HOOK_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW PRE_SIMULATION

GEN_KW FLOWNET_PARAMETERS ./EMPTYFILE ./EMPTYFILE ./parameters.ertparam

{% if not debug: %}
SIMULATION_JOB DELETE_IN_CURRENT_ITERATION <ECLBASE>
{%- endif %}

OBS_CONFIG ./observations.ertobs

SUMMARY FOPT
