{% include "./common_config.ert.jinja2" %}

INSTALL_JOB DELETE_IN_CURRENT_ITERATION ./DELETE_IN_CURRENT_ITERATION

REFCASE <CONFIG_PATH>/SYNTHETIC_REFCASE
{%- if ert_config.analysis: %}
DEFINE <CONFIG_FILE>  ../brugge_parameters.yml
{%- endif %}
DEFINE <RUN_PATH> {{ ert_config.runpath }}
DEFINE <ECL_BASE> {{ ert_config.eclbase }}
DEFINE <RANDOM_SAMPLES> ./parameters.json

INSTALL_JOB CREATE_FLOWNET_MODEL ./CREATE_FLOWNET_MODEL
{%- if not debug: %}
INSTALL_JOB DELETE_IN_CURRENT_ITERATION ./DELETE_IN_CURRENT_ITERATION
{%- endif %}

LOAD_WORKFLOW_JOB ./SAVE_ITERATION_PARAMETERS_WORKFLOW_JOB
LOAD_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW
HOOK_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW PRE_SIMULATION
{%- if ert_config.analysis: %}
LOAD_WORKFLOW_JOB ./SAVE_ITERATION_ANALYTICS_WORKFLOW_JOB
LOAD_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW
HOOK_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW POST_SIMULATION
{%- endif %}

GEN_KW FLOWNET_PARAMETERS ./EMPTYFILE ./EMPTYFILE ./parameters.ertparam

{% if not debug: %}
SIMULATION_JOB DELETE_IN_CURRENT_ITERATION <ECLBASE>
{%- endif %}

OBS_CONFIG ./observations.ertobs

SUMMARY FOPT
