{% include "./common_config.ert.jinja2" %}

INSTALL_JOB DELETE_IN_CURRENT_ITERATION ./DELETE_IN_CURRENT_ITERATION

REFCASE <CONFIG_PATH>/SYNTHETIC_REFCASE
{%- if config.ert.analysis.metric: %}
DEFINE <ANALYSIS_METRIC> {{ analysis_metric }}
DEFINE <ANALYSIS_QUANTITY> {{ analysis_quantity }}
DEFINE <ANALYSIS_START> {{ config.ert.analysis.start }}
DEFINE <ANALYSIS_END> {{ config.ert.analysis.end }}
DEFINE <ANALYSIS_OUTFILE> {{ config.ert.analysis.outfile }}
DEFINE <PERFORATION_STRATEGY> {{ config.flownet.perforation_handling_strategy }}
DEFINE <REFERENCE_SIMULATION> {{ reference_simulation }}
{%- endif %}
DEFINE <RUN_PATH> {{ config.ert.runpath }}
DEFINE <ECL_BASE> {{ config.ert.eclbase }}
DEFINE <RANDOM_SAMPLES> ./parameters.json


INSTALL_JOB CREATE_FLOWNET_MODEL ./CREATE_FLOWNET_MODEL
{%- if not debug: %}
INSTALL_JOB DELETE_IN_CURRENT_ITERATION ./DELETE_IN_CURRENT_ITERATION
{%- endif %}

LOAD_WORKFLOW_JOB ./SAVE_ITERATION_PARAMETERS_WORKFLOW_JOB
LOAD_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW
HOOK_WORKFLOW SAVE_ITERATION_PARAMETERS_WORKFLOW PRE_SIMULATION
{%- if config.ert.analysis.metric: %}
LOAD_WORKFLOW_JOB ./SAVE_ITERATION_ANALYTICS_WORKFLOW_JOB
LOAD_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW
HOOK_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW POST_SIMULATION
{%- endif %}

GEN_KW FLOWNET_PARAMETERS ./EMPTYFILE ./EMPTYFILE ./parameters.ertparam

{% if not debug: %}
SIMULATION_JOB DELETE_IN_CURRENT_ITERATION <ECLBASE>
{%- endif %}

OBS_CONFIG ./observations_training.ertobs

SUMMARY FOPT
