{% if random_seed is not none: -%}
RANDOM_SEED {{ random_seed }}
{%- endif %}

NUM_REALIZATIONS {{ ert_config.realizations.num_realizations }}
MIN_REALIZATIONS {{ ert_config.realizations.required_success_percent }}%
STOP_LONG_RUNNING FALSE
MAX_RUNTIME {{ ert_config.realizations.max_runtime }}

QUEUE_SYSTEM {{ ert_config.queue.system }}
{%- if ert_config.queue.system == "LSF" %}
{% if ert_config.simulator.version is not none: -%} LSF_SERVER {{ ert_config.queue.server }} {%- endif %}
QUEUE_OPTION {{ ert_config.queue.system }} LSF_QUEUE {{ ert_config.queue.name }}
{%- endif %}
QUEUE_OPTION {{ ert_config.queue.system }} MAX_RUNNING {{ ert_config.queue.max_running }}

RUNPATH {{ ert_config.runpath }}
ENSPATH {{ ert_config.enspath }}

ECLBASE {{ ert_config.eclbase }}

DEFINE <PICKLED_NETWORK> {{ pickled_network }}
DEFINE <PICKLED_SCHEDULE> {{ pickled_schedule }}
DEFINE <PICKLED_PARAMETERS> {{ pickled_parameters }}

INSTALL_JOB CREATE_FLOWNET_MODEL ./CREATE_FLOWNET_MODEL

SIMULATION_JOB CREATE_FLOWNET_MODEL <PICKLED_NETWORK> <PICKLED_SCHEDULE> <PICKLED_PARAMETERS> ./eclipse/model <RANDOM_SAMPLES> <ITER> {{ pred_schedule_file }}

FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/RUNSPEC.inc, <TO>=./eclipse/model/include/RUNSPEC.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/PROPS.inc, <TO>=./eclipse/model/include/PROPS.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/SOLUTION.inc, <TO>=./eclipse/model/include/SOLUTION.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/SCHEDULE.inc, <TO>=./eclipse/model/include/SCHEDULE.inc)

SIMULATION_JOB {{ ert_config.simulator.name.upper() }} <ECLBASE> {%- if ert_config.simulator.version is not none: -%}"--version={{ ert_config.simulator.version }}"{%- endif %}
