{% if random_seed is not none: -%}
RANDOM_SEED {{ random_seed }}
{%- endif %}

NUM_REALIZATIONS {{ config.ert.realizations.num_realizations }}
MIN_REALIZATIONS {{ config.ert.realizations.required_success_percent }}%
STOP_LONG_RUNNING FALSE
MAX_RUNTIME {{ config.ert.realizations.max_runtime }}

QUEUE_SYSTEM {{ config.ert.queue.system }}
{%- if config.ert.queue.system == "LSF" %}
{% if config.ert.simulator.version is not none: -%} LSF_SERVER {{ config.ert.queue.server }} {%- endif %}
QUEUE_OPTION {{ config.ert.queue.system }} LSF_QUEUE {{ config.ert.queue.name }}
{%- endif %}
QUEUE_OPTION {{ config.ert.queue.system }} MAX_RUNNING {{ config.ert.queue.max_running }}

RUNPATH {{ config.ert.runpath }}
ENSPATH {{ config.ert.enspath }}

ECLBASE {{ config.ert.eclbase }}

DEFINE <PICKLED_NETWORK> {{ pickled_network }}
DEFINE <PICKLED_SCHEDULE> {{ pickled_schedule }}
DEFINE <PICKLED_PARAMETERS> {{ pickled_parameters }}
DEFINE <REALIZATION_INDEX> <IENS>

INSTALL_JOB CREATE_FLOWNET_MODEL ./CREATE_FLOWNET_MODEL

SIMULATION_JOB CREATE_FLOWNET_MODEL <PICKLED_NETWORK> <PICKLED_SCHEDULE> <PICKLED_PARAMETERS> ./eclipse/model <RANDOM_SAMPLES> <REALIZATION_INDEX> {{ pred_schedule_file }}

FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/RUNSPEC.inc, <TO>=./eclipse/model/include/RUNSPEC.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/PROPS.inc, <TO>=./eclipse/model/include/PROPS.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/SOLUTION.inc, <TO>=./eclipse/model/include/SOLUTION.inc)
FORWARD_MODEL COPY_FILE(<FROM>=<CONFIG_PATH>/SCHEDULE.inc, <TO>=./eclipse/model/include/SCHEDULE.inc)

FORWARD_MODEL FLOW_SIMULATION(<DATA_FILE>=<ECLBASE>)
