--
-- MODIFY THE TRANSMISSIBILITES ACROSS DEFINED FAULTS
--
-- FAULT TRANS DIFUSS
-- NAME MULTIPLIER MULTIPLIER
MULTFLT
{%- for fault in faults.keys() %}
 '{{ fault }}' {{ samples[loop.index-1] }} /
{% endfor -%}
/
