{%- set df = schedule.production_data -%}

{%- for well_name in df["WELL_NAME"].unique(): -%}

{# Eclipse output is a bit difficult to work with wrt. rate vectors, in the sense
   that we need to shift observation dates compared with simulation schedule files. #} 
{%- set prev_date = none -%}
{%- for index, row in df[df["WELL_NAME"] == well_name].sort_values(by="date", ascending=False).iterrows(): -%}

{%- if prev_date is not none and not loop.first: %}

{%- set oil_rate = row["WOPR"] -%}   
{%- set gas_rate = row["WGPR"] -%}
{%- set bhp = row["WBHP"] -%}
{%- set thp = row["WTHP"] -%}

{%- set index_name = prev_date.strftime('%d_%m_%Y') -%}
{%- set date_formatted = prev_date.strftime('%d/%m/%Y') %}

{%- if not isnan(oil_rate): -%}
SUMMARY_OBSERVATION WOPR_{{ well_name }}_{{ index_name }} { VALUE = {{ oil_rate }}; ERROR = {{ [0.1 * oil_rate, 50] | max }}; DATE = {{ date_formatted  }}; KEY = WOPR:{{ well_name }}; };
{%- endif %}
{%- if not isnan(gas_rate): %}
SUMMARY_OBSERVATION WGPR_{{ well_name }}_{{ index_name }} { VALUE = {{ gas_rate }}; ERROR = {{ [0.1 * gas_rate, 100000] | max }}; DATE  = {{ date_formatted  }}; KEY = WGPR:{{ well_name }}; };
{%- endif %}
{%- if not isnan(bhp): %}
SUMMARY_OBSERVATION WBHP_{{ well_name }}_{{ index_name }} { VALUE = {{ bhp }}; ERROR = {{ [0.05 * bhp, 10] | max }}; DATE = {{ date_formatted  }}; KEY = WBHP:{{ well_name }}; };
{%- endif %}
{%- if not isnan(thp): %}
SUMMARY_OBSERVATION WTHP_{{ well_name }}_{{ index_name }} { VALUE = {{ thp }}; ERROR = {{ [0.05 * thp, 5] | max }}; DATE = {{ date_formatted  }}; KEY = WTHP:{{ well_name }}; };
{%- endif %}

{%- endif %}
{%- set prev_date = row["date"] -%}
{% endfor %}
{%- endfor -%}
