smry:
 {%- for well_name in schedule.get_wells(kw_class="WCONHIST") -%}
   {%- if (error_config.WOPR.rel_error is not none) and (error_config.WOPR.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONHIST", well_name=well_name, ignore_nan="oil_rate") -%}
   {% if loop.first and not loop.last: %}
 - key: WOPR:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.oil_rate }}
      error: {{ [error_config.WOPR.rel_error * kw.oil_rate, error_config.WOPR.min_error] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
   {%- if (error_config.WGPR.rel_error is not none) and (error_config.WGPR.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONHIST", well_name=well_name, ignore_nan="gas_rate") -%}
   {% if loop.first and not loop.last: %}
 - key: WGPR:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.gas_rate }}
      error: {{ [error_config.WGPR.rel_error * kw.oil_rate, error_config.WGPR.min_error] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
   {%- if (error_config.WWPR.rel_error is not none) and (error_config.WWPR.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONHIST", well_name=well_name, ignore_nan="water_rate") -%}
   {% if loop.first and not loop.last: %}
 - key: WWPR:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.water_rate }}
      error: {{ [error_config.WWPR.rel_error * kw.oil_rate, error_config.WWPR.min_error] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
   {%- if (error_config.WBHP.rel_error is not none) and (error_config.WBHP.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONHIST", well_name=well_name, ignore_nan="bhp") -%}
   {% if loop.first and not loop.last: %}
 - key: WBHP:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.bhp }}
      error: {{ [error_config.WBHP.rel_error * kw.oil_rate, error_config.WBHP.min_error] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
   {%- if (error_config.WTHP.rel_error is not none) and (error_config.WTHP.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONHIST", well_name=well_name, ignore_nan="thp") -%}
   {% if loop.first and not loop.last: %}
 - key: WTHP:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.thp }}
      error: {{ [error_config.WTHP.rel_error * kw.oil_rate, error_config.WTHP.min_error] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
{%- endfor -%}

{% for well_name in schedule.get_wells(kw_class="WCONINJH") %}
   {%- if (error_config.WBHP.rel_error is not none) and (error_config.WBHP.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONINJH", well_name=well_name, ignore_nan="bhp") -%}
   {% if loop.first and not loop.last: %}
 - key: WBHP:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.bhp }}
      error: {{ [0.05 * kw.bhp, 10] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
   {%- if (error_config.WTHP.rel_error is not none) and (error_config.WTHP.min_error is not none) -%}
   {%- for kw in schedule.get_keywords(kw_class="WCONINJH", well_name=well_name, ignore_nan="thp") -%}
   {% if loop.first and not loop.last: %}
 - key: WTHP:{{ well_name }}
   observations:
   {%- elif not loop.first: %}
    - date: {{ kw.date.strftime('%Y-%m-%d') }}
      value: {{ kw.bhp }}
      error: {{ [0.05 * kw.thp, 5] | max }}
   {%- endif -%}
   {%- endfor %}
   {%- endif -%}
 {%- endfor -%}
