DEFINE <RANDOM_SAMPLES> <CONFIG_PATH>/parameters.parquet

{% include "./common_config.ert.jinja2" %}

{%- if config.ert.analysis: %}
LOAD_WORKFLOW_JOB ./SAVE_ITERATION_ANALYTICS_WORKFLOW_JOB

{% for item in config.ert.analysis %}
LOAD_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW_{{ loop.index - 1 }}
HOOK_WORKFLOW SAVE_ITERATION_ANALYTICS_WORKFLOW_{{ loop.index - 1 }} POST_SIMULATION
{% endfor %}
{%- endif %}

{%- if config.export: %}
LOAD_WORKFLOW_JOB ./SAVE_PREDICTIONS_WORKFLOW_JOB

LOAD_WORKFLOW SAVE_PREDICTIONS_WORKFLOW
HOOK_WORKFLOW SAVE_PREDICTIONS_WORKFLOW POST_SIMULATION
{%- endif %}
