SAVE_ITERATION_ANALYTICS_WORKFLOW_JOB {{ mode }} {{ reference_simulation }} {{ run_path }} {{ ecl_base }} {{ analysis_start }} {{ analysis_end }} {{ analysis_quantity }} {{ analysis_metric }} {{ analysis_outfile }}
