# The configuration files uses YAML (https://en.wikipedia.org/wiki/YAML).

title: Flownet

shared_settings:
  scratch_ensembles: 
    pred: {{ runpath | replace("%d","*") }} 

pages:
 - title: Reservoir simulation time series
   content:
    - ReservoirSimulationTimeSeries:
        ensembles:
          - pred
        sampling: monthly
        options:
          visualization: statistics
